nbproject/
update/
update_manuell/
*.xlsx
*.bak
backup/
api/Backups/
api/images/
api/logs/
api/out_of_order/
api/*.txt
api/ds/*.txt
api/ds/*.csv
api/*.bk
api/ds/*.bk
api/ds/*.xlsx
api/*.xlsx
api/*.bak
api/ds/*.bak
api/ds/scr/
api/*.bk*
api/ds/*.bk*
